body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EED7CB;
}

header{
    background-color: #FD9898;
    text-decoration: none;
    height: auto;
    overflow: hidden;
    width: 100%;
}

a {
    text-decoration: none;;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #FD9898;
    max-width: 1440px;
}

.logo img {
    height: 139.92px;
    width: 112.5px;
    object-fit: cover;
    margin-right: 650px;
}

.logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-title h1 {
    font-family: 'Kapakana', cursive;
    font-weight: 400;
    font-size: 128px;
    line-height: 1;
    margin: 0;
    color: #000000;
}

nav{
    background-color: #e86975;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-decoration: none;
}

nav a {
    color: black;
    font-family: "Afacad", sans-serif; 
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 40px;
    padding: 14px 20px;
}

nav a:hover {
    color: #EFAAB0;
}

.searcher {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e86975;
}

.searcher input[type="search"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;    
}

.searcher button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #FD9898;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.searcher button:hover {
    background-color: #EFAAB0;
}

.welcome-section {
    display: flex;
    justify-content: center;
    text-align: justify;
    background-color: #FD9898;
    margin-top: 95px;
    margin-bottom: 150px;
    border-radius: 11px;
}

.welcome-section p {
    font-family: 'Afacad', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    color: #000000;
    max-width: 1250px;
}

.cta-section h3 {
    font-family: 'Afacad', sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-left: 55px;
    margin-bottom: 20px;
    color: #000000;
}

.cta-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px; /* adjust spacing as needed */
    margin-bottom: 10px;
}

.cta-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-item img {
    height: 400px;
    width: auto;
    display: block;
    border-radius: 8px;
}

.cta-text {
    margin-top: 16px;
    font-family: 'Afacad', sans-serif;
    font-size: 24px;
    color: #000;
    text-align: justify;
}